<section>  
  <h1>About Me</h1>
  <img src="{{ site.baseurl }}/assets/sean.jpg">
  <p>I am a mobile software engineer living in Denver Colorado. I spend my time writing code, mostly Swift, hanging out with my wife and 3 boys, injuring myself while running and coaching my kids' soccer teams.</p>
	<p>I am currently the Mobile Lead working with the awesome folks at <a href="http://ello.co">Ello</a>.</p>
</section>
<section>
  <div>
    <p><br />Come say hi at Ello</p>
    <p><iframe class='button' frameborder='0' border='0' scrolling='no' allowtransparency='true' height='40' width='40' src='https://button.ello.co/button?color=black&username=sean&size=large'></iframe></p>
  </div>
</section>
