<section>
  <h1>About Me</h1>
  <p>I am a mobile software engineer living in Denver Colorado. I spend my time writing code, mostly objective-c, hanging out with my 3 boys, injuring myself while running and playing drums.</p>
	<p>I currently work with the great team at <a href="http://www.gospotcheck.com">GoSpotCheck</a>. I also run a software development consultancy, <a href="http://www.process255.com">process255.com</a> and an iOS app product company <a href="http://www.simpletomato.com">simpletomato.com</a></p>
</section>
